*.iml
.gradle/
.kotlin/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
.DS_Store
*.apk
*.ap_
*.dex
*.class
*.hprof

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
